.header {
  display: flex;
  justify-content: space-between;
  background-color: yellowgreen;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo {
  width: 120px;
  mix-blend-mode: multiply;
}

.nav-item {
  padding: 0px 23px;
}

.nav-item > ul {
  display: flex;
}

.nav-item > ul > li {
  padding: 6px;
  margin: 6px;
  list-style: none;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.res-card {
  width: 200px;
  height: 380px;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.res-card:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.search {
  padding: 10px;
}

.food-img {
  width: 100%;
  object-fit: fill;
  height: 160px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: goldenrod;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 15px;
}

.filter {
  margin: 10px;
  padding: 10px;
}

.filter-btn {
  background-color: cornflowerblue;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  cursor: pointer;
}
